<div class="wrapper">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="head-menu">
                        <li>
                            <button id="studentsId" type="button" class="btn btn-primary">Студенты</button>
                        </li>
                        <li>
                            <button id="coursesId" type="button" class="btn btn-primary">Курсы</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main id="content"></main>
    </div>

    <footer>
        <div>
            <ul>
                <li>Университет</li>
                <li>Адрес: г.Москва, ул Главная</li>
            </ul>
        </div>
    </footer>
</div>
